<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted"> 2023 WebG301 - Quoc Cuong - Viet Duc</p>
        <div style="color:black; transform: translate(675px);">
        <a href="https://www.facebook.com/HuynhVanQuocCuong"> Facebook: Cuong Huynh </a><br>
        <a href="https://www.facebook.com/profile.php?id=100013359581230"> Facebook: Viet Duc </a>
        <p>Gmail: cuonghuynh0709@gmail.com<br>
        Contact: 0935535996<br>
        Location: 651 Ngo Quyen, An Hai Bac,<br>
         Son Tra, Da Nang
        </p>
        
        </div>
        <a href="/"
           class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="{{ path('app_student_index') }}" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
    </footer>
</div>
